<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>Document</title>
</head>
<body>
 {% extends 'layout.html' %}
 {% block content %} 

 <div>
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for with_category, message in messages %}
        <div class="alert alert-{{ with_category }}">
          {{ message }}
        </div>
      {% endfor %}  
    {% endif %}
  {% endwith %}
</div>
 <h1 class="text-center fs-4 mt-2 text-secondary fw-bold"> welcome to you dashboard <br> <span class="text-success fw-bold fs-1"> {{ current_user.username }} </span></h1>
 <img class="rounded-circle account-img" src="{{ image_file }}">
 {% endblock %}
</body>
</html>